@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 1360px;
  margin: auto;
  font-family: "Roboto", sans-serif;
}
.momo {
  margin-top:30px;
  margin-left:10px;
  transform: rotate(-75deg);
}
.scoreSize{
  color:red;
}
.icon {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 6px;
}
.choice_user {
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin-top: 30%;
}
.flex {
  display: flex;
}

.greet {
  margin-left: 50px;
}

.first {
  display: flex;
}
.diagramms {
  display: flex;
}

.test h2 {
  font-size: 48px;
  font-weight: 500;
}
.name {
  color: red;
}

.border,
.explenation {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
p.type {
  font-weight: 700;
  font-size: 24px;
}
p.type_name {
  font-weight: 400;
  font-size: 20px;
}
.header_page {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  margin-left: 10vw;
}
.header_page .name {
  margin-left: 20px;
}
.wrapper_barchart {
  height: 300px;
  width: 800px;
  background-color: #fbfbfb;
}
.flex_column {
  display: flex;
  flex-direction: column;
}
